@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.brand-red {
    color: rgb(255, 0, 0);
}

.inter {

    font-family: "Inter", sans-serif;
}


.merri {
    font-family: "Merriweather", serif;
}




/* Banner section style starts here */
.banner-container {
    max-width: 1320px;
    margin: 0 auto;
    min-height: 600px;

    margin-top: 50px;
    background-image: url("images/Banner\ Image.png"), linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-blend-mode: overlay;

}

.banner-content {

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    text-align: center;

}


.banner-container p {
    font-family: Merriweather;
    font-size: 32px;
}

.banner-container h1 {
    font-size: 72px;
    font-weight: 900;
}

/* Section 65% OFF Offer */
.offer-section {
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

.offer-content h1 {
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    margin-bottom: 48px;

}

.offer-content p {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;

}

.offer-content h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;

}

.offer-section img {
    width: 802.9px;
    height: 500px;
    margin-top: 48px;
}


/* Welcome section start here */

.welcome {
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image: url(./images/Vectorrr.png), linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
    background-repeat: none;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 16px;
    margin-top: 120px;

}


.welcome-content {
    color: white;
    display: flex;

}

.welcome-left {
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 126px;

}

.welcome-right {
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-left h2 {
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    margin-bottom: 24px;

}

.welcome-left p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 48px;
    color: rgba(255, 255, 255, 0.8);


}

.welcome-left .join-now {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 32px;

}

/* Shedule start here */

.shedule {
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    margin-top: 120px;
}

.shedule-text {
    margin-top: 120px;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;

}


.shedule-text>span {
    color: rgb(255, 0, 0);
}


.shedule-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;

}

.red-btn button {
    border: none;
    background-color: rgb(255, 0, 0);
    padding: 16px 32px 16px 32px;
    border-radius: 16px;

    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: white;
    margin-top: 48px;
}


/* Comming Soon */

.comming-soon {
    width: 1320px;
    height: 463px;

    margin: 0 auto;
    margin-top: 120px;
}

.comming-container {
    display: flex;
}


.comming-container>.left-side {
    width: 34%;
    height: 463px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 70px;

}

.comming-container>.left-side>h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.comming-container>.left-side>h3 {
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    margin-top: 16px;
}

.comming-container>.left-side>p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}


.comming-container>.mid {
    width: 34%;
    height: 463px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.stroke {
    border-radius: 50%;
    outline: 15px solid rgb(255, 0, 0);
    outline-offset: 40px;

}

.mid img {
    width: 364.84px;
    height: 364.84px;

}


.comming-container>.right-side {
    width: 34%;
    height: 463px;

    padding-left: 118px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.comming-container>.right-side h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;

}

.comming-container>.right-side p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 16px;

}

.comming-container>.right-side img {
    width: 140px;
    margin-top: 43px;


}

/* Holiday Section start here */

.holiday {
    width: 1320px;
    height: 986px;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}

.holiday-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1068px;
    margin: 0 auto;
}


.holiday-text-container h4 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;

}

.holiday-text-container h2 {
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    color: rgb(7, 2, 17);
    margin-top: 16px;
    margin-bottom: 28px;
}

.holiday-text-container p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

/* Holiday solid color section start from here */

.solid-color {
    width: 1320px;
    height: 229px;
    background-color: rgb(255, 0, 0);
    border-radius: 16px;
    position: absolute;
    top: 76.9%;
}

.gift-banner {

    height: 577.96px;
    display: flex;
    padding-top: 64px;
}

.giftbox {
    width: 674.82px;
}

.giftbox img {
    width: 674.82px;
    height: 577.96px;
    position: relative;

}

.fifty {
    width: 646px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}




/* Portfolio section start here */

.portfolio {
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-top: 120px;
}


.portfolio-text {
    margin-bottom: 48px;
}

.portfolio-text h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;

}

.portfolio-text h2 {

    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    margin-top: 16px;
    margin-bottom: 22px;

}

.portfolio-text p {

    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
}










/* footer start here */


.footer {
    width: 100%;
    background: rgb(7, 2, 17);
    margin-top: 120px;
}

.footer-container {
    width: 90%;


    color: white;
    margin: 0 auto;

}

.footer-front {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49.5px;
    padding-top: 120px;
}


.footer-front-left p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.footer-front-right p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;


}


.fa-solid {
    margin-right: 20px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.15);

}


.social-icons {

    width: 328px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 48px;

}

.footer-bottom {
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 120px;
}